{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div class="container col-8 px-3">
            {% if user.is_authenticated %}
                <div id="new-post" >
                    <form id="post-form" >
                        <textarea class="form-control" id="post-body" rows="3" placeholder="What's on your mind?"></textarea>
                        <button type="submit" class="btn btn-primary mt-2" id='sent_post'>Post</button>
                    </form>
                </div>
            {% endif %}
                <div id="main"></div>
                <div id = "pagination"></div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
